**/__pycache__/**
**/wandb/**
**/.vscode/**
*.out
*.err
*.zip
*.tar
*.pth
stdout_train.txt
stdout_eval.txt
stdout_visualize.txt
hostfile
**/olds/**
**/old/**
**/output/**
*.pt
*.txt
miccai_generate_Dir
compare1.py
compare2.py
pyrightconfig.json
test.py
dataset_handle.py